header h1 {
 margin-left: 15px;
}

header span hr {
 border: 2px solid turquoise;
 margin-top: 1px;
 margin-bottom: 4px;
}

.wrapper {
 display: flex;
 justify-content: space-around;
 margin-top: 20px;
}

.wrapper h2 {
background-color: rgb(255, 255, 255, 0.8);
padding: 10px 80px 10px 10px;
margin-left: 10px;
}

.wrapper hr {
 margin: 0px;
}

.wrapper .hero {
 height: 125px;
 width: 300px;
 display: flex;
 align-items: center;
}

.wrapper .text-content {
 display: flex;
 align-items: center;
 padding: 5px 5px 5px 10px;
 height: 125px;
 border-top: 1px solid  black;
 border-bottom: 1px solid  black;
}

.text-content li:hover {
 color: turquoise;
}

.wrapper ul ul {
list-style-type: disc;
}

.wrapper .fruits {
 display: flex;
 flex-direction: column;
 border: 1px solid black;
 border-radius: 5px;

}


.wrapper .fruits .hero {
 background-image: url(/fruits.png);
}

.wrapper .veggies {
 display: flex;
 flex-direction: column;
 border: 1px solid black;
 border-radius: 5px;
}

.wrapper .veggies .hero {
 background-image: url(/veggies.jpg);
}

.wrapper .dairy {
 display: flex;
 flex-direction: column;
 border: 1px solid black;
 border-radius: 5px;
}

.wrapper .dairy .hero {
 background-image: url(/Dairy.jpg);
}

label {
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 padding: 10px 10px 10px 0px;
 background-color: turquoise;
}

footer p {
 font-size: 22px;
 margin-left: 10px;
 padding-top: 15px;
}