body {
    font-family: 'Inter', sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    margin: 1em;
}

.nav ul {
    display: flex;
    margin-left: 3em;
    gap: 0.4em;
}

.nav ul a {
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    text-decoration: none;
}

.hero {
    display: flex;
    background-image: url("hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vmax;
    height: 65vmax;
    margin-top: 2em;
    justify-content: center;
    
}

.hero h1 {
    font-size: 7em;
    font-weight: 700;
    color: white;
    height: auto;
    width: 550px;
    margin-top: 1em;
}

.blog {
    display: flex;
    flex-flow: column;
    margin-left: 13em;
    margin-right: 13em;
    margin-top: 2em;
    margin-bottom: 2em;
    gap: 4em;
}

.article {
    border: 1px;
    border-style: solid;
    border-color: black;
    }

.article h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 25px 7px;
}

#text {
    padding: 0px 7px 15px;
}

#date {
    padding: 0px 7px 10px;
}


footer {
    font-size: 12px;
    padding: 1em 0em;
    margin-left: 0.5em;
}

@media only screen and (max-width: 800px) {
    .blog {
        margin-left: 2em;
        margin-right: 2em;
      }
      
      .hero {
          width: 100vmin;
          height: 50vmax;
      }

      .hero h1 {
        font-size: 4em;
      }

      .nav ul {
        margin-left: 1em;
        gap: 0.4em;
    }
}